.cdjumbo {
  min-height: 355px;
  background: transparent url(../images/cedar-jumbo.jpg) no-repeat top center;
  color: white!important;
}
.cdjumbo h1 {
  line-height: 180px;
}

.cdjumbo {
  min-height: 355px;
  background: transparent url(../images/cedar-jumbo.jpg) no-repeat top center;
  color: white!important;
}
.cdjumbo h1 {
  line-height: 180px;
}

