<div class="jumbotron cdjumbo">
  <h1>Cedar Technologies</h1>
</div>


<div class="container">


  <cd-filter-panel
    ng-hide="dialogIsHidden"
    selector-config="prSelectorDefinition"
    events="fitlerPanel.events">
  </cd-filter-panel>

  <button class="btn btn-default" ng-click="open('sm')">Open me!</button>

  <div ng-show="selected">Selection from a modal: {{ selected }}</div>

  <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-gear"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">CPU Traffic</span>
                  <span class="info-box-number">90<small>%</small></span>
                </div><!-- /.info-box-content -->
              </div>

</div>
